<!DOCTYPE html>

{% extends "index.html" %}
{% load static %}

{% block main_content %}


<div class="container-flex text-center justify-content-center align-items-center" style="background-color:rgba(83, 76, 42, 0.514)">
    <div class="row justify-content-center align-middle" style="">
        <div class="col-md-4 " style="background-color: rgb(255, 255, 255);">
            <h4 style="margin-top: 15px;">Register new reader</h4>


        </div>
        <div class="col-md-8">
            <h4>Search reader</h4>

        </div>




    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="container" style="overflow-y:auto; height:800px;background: beige;">
                <form class="d-flex" action="/readers/add" method="POST">
                    {% csrf_token %}

                    <table class="table">
                        <tr>
                            <td style="text-align: left;vertical-align: middle;padding-left: 15px;">Name : </td>
                            <td><input type="text" class="form-control" name="reader_name"></td>
                        

                        </tr>
                        <tr>
                            <td style="text-align: left;vertical-align: middle;padding-left: 15px;">Id : </td>
                            <td><input type="text" class="form-control" name="reader_ref_id"></td>
                        

                        </tr>
                        <tr>
                            <td style="text-align: left;vertical-align: middle;padding-left: 15px;">Phone Number : </td>
                            <td><input type="text" class="form-control" name="reader_contact"></td>
                        

                        </tr>
                        <tr>
                            <td style="text-align: left;vertical-align: middle;padding-left: 15px;">Adress : </td>
                            <td><textarea type="text" class="form-control" name="reader_address"></textarea></td>
                        

                        </tr>
                        <tr>
                            <td colspan="2" ><button class="btn btn-primary" type="submit">Save</button></td>


                        </tr>



                    </table>



                </form>


            </div>

        </div>
        <div class="col-md-8">
            <div class="row">
                <nav class="navbar bg-body-light">
                    <div class="container-fluid justify-content-center align-items-center">
                        <form class="form-inline my-2 my-lg-0" role="search" action="/readers" method="POST">
                            {% csrf_token %}
                            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="query" value="{{query}}">
                            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
                          </form>


                    </div>


                </nav>

            </div>

            <div class="row" style="margin-top: 20px;">
                <p>{{readers|length}} readers subscribed.</p>

            </div>

            <div class="row" style="margin-top: 20px;">
                <div class="container" style="overflow-y: auto;height: 400px;">
                    <table class="table table-hover">
                        <thead>

                            <tr>
                                
                                <td>ID</td>
                                <td>Name</td>
                                <td>Contact</td>
                                <td>Address</td>





                            </tr>

                        </thead>
                        <tbody>
                            {% for reader in readers%}

                            <tr>

                                <td>{{reader.reference_id}}</td>

                                <td>
                                    {% if reader.active %}
                                    <span class="btn btn-success">{{reader.reader_name}}</span>
                                    {% else %}

                                    <span class="btn btn-secondary">{{reader.reader_name}}</span>

                                    {% endif %}


                                </td>
                                <td>{{reader.reader_contact}}</td>
                                <td>{{reader.reader_address}}</td>


                            </tr>

                            {% endfor %}



                        </tbody>


                    </table>

                </div>




            </div>



        </div>






    </div>





</div>


{% endblock %}