<!DOCTYPE html>

{% extends "index.html" %}
{% load static %}



{% block main_content %}

<div class="row text-center justify-content-center align-middle " style="margin-top: 40px;">

    <h4>Returns</h4>
    <div class="col-md-8" style="overflow-y: auto;height: 400px; margin-top: 12px;">
        <table class="table table-hover">

            <thead>

                <tr>
                    <th>Reader</th>
                    <th>Books</th>
                    <th>Borrow Date</th>
                    <th>Return Date</th>


                </tr>

            </thead>
            <tbody>

                {% for checkout in checkouts %}
                <tr>
                    <td>{{checkout.Reader.reader_name}}</td>
                    <td>
                        <ul>
                            {% for book in checkout.Book.all %}
                            <li>{{book.title}}</li>
                            {% endfor %}


                        </ul>
                    </td>
                    <td>{{checkout.borrow_date}}</td>
                    <td>{{checkout.return_date}}</td>

                </tr>
                {% empty %}
                <tr>

                    <td colspan="4">No records found</td>

                </tr>

                {% endfor %}


            </tbody>

        </table>


    </div>

</div>
{% endblock %}